@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Russo+One&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #eee;
  font-family: 'Inter', sans-serif;
}

.clock{
  font-family: 'Russo One', sans-serif
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
